@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

.col {
  flex-direction: column;
}

body {
  background-color: #73777a;
  font-family: "Lato", sans-serif;
}
.main {
  justify-content: space-around;
  align-items: start;
}

h1 {
  text-align: center;
  margin: 5%;
  font-size: 2.3rem;
  color: #f0f5f7;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 1.9rem;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

.leaderboard-table {
  min-width: 30%;
}

.recent {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

button {
  background-color: #fd7e47;
  border: 1px solid #2db0f6;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
}

button:hover {
  color: #fd7e47;
  background-color: whitesmoke;
}

#refresh {
  padding: 2%;
}

#list-container {
  list-style: none;
  border: 1px solid black;
  padding: 1%;
  max-height: 50vh;
  border-radius: 10px;
  overflow-y: auto;
  --sb-track-color: #fff;
  --sb-thumb-color: #484949;
  --sb-size: 4px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

#list-container::-webkit-scrollbar {
  width: var(--sb-size);
}

#list-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

#list-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
}

#list-container li {
  color: black;
  font-weight: 400;
  font-size: 18px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  background-color: #a7beaebb;
}

#list-container li:nth-child(odd) {
  background-color: #e6e8d2b8;
}

form {
  position: relative;
  width: 30%;
  height: 30%;
  align-items: center;
  justify-content: center;
  background-color: #d6d9db6a;
  padding: 1% 3% 6% 3%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 10px #12111133;
}

input {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  margin: 10px;
  padding: 2%;
}

#submit {
  padding: 2%;
  min-width: 26%;
  align-self: flex-end;
}

#message-container {
  width: 80%;
  position: absolute;
  bottom: 10px;
  text-shadow: 3px 3px 15px black;
  text-align: center;
  text-align: center;
}

.success {
  margin: 0;
  color: green;
  animation: message 3.5s linear;
}

.error {
  margin: 0;
  color: red;
  animation: message 3.5s linear;
}

@keyframes message {
  25% {
    transform: translateY(-10px);
    opacity: 0.7;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
